html,
body {
  height: 100%;
}

#root {
  max-width: 100%;
  height: 100%;
}

.hero-banner-bg {
  height: 100%;
  background: linear-gradient(160deg, #8585ffff 0%, #ffc27a 100%);
}

.choice-button {
  width: 20rem;
  height: 8rem;
  font-size: 2rem;
  margin: 1rem;
  line-height: 1.2;
}

.review-button {
  width: 10rem;
  height: 8rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  line-height: 1.2;
}

.left-0 {
  left: 0;
}

.bg-gradient-1 {
  background: linear-gradient(160deg, #ffc27a 0%, #ffc6c6 100%);
}

.bg-gradient-2 {
  background: linear-gradient(160deg, #ffc6c6 0%, #8585ffff 100%);
}

.card-gradient-1 {
  background: linear-gradient(160deg, #c8a400 0%, #c85700ff 100%);
}

.card-gradient-2 {
  background: linear-gradient(160deg, #007BFF 0%, #1600c8ff 100%);
}

.card-gradient-3 {
  background: linear-gradient(160deg, #28A745 0%, #1f7a70ff 100%);
}

.card-gradient-4 {
  background: linear-gradient(160deg, #DC3545 0%, #c82aa5ff 100%);
}

.card-gradient-5 {
  background: linear-gradient(160deg, #17A2B8 0%, #0f7a56ff 100%);
}

.card-gradient-6 {
  background: linear-gradient(160deg, #6610F2 0%, #9c0cb5ff 100%);
}

.card-gradient-1,
.card-gradient-2,
.card-gradient-3,
.card-gradient-4,
.card-gradient-5,
.card-gradient-6 {
  border-color: transparent;
}

.card-gradient-1:hover,
.card-gradient-2:hover,
.card-gradient-3:hover,
.card-gradient-4:hover,
.card-gradient-5:hover,
.card-gradient-6:hover {
  border-color: transparent;
}

.grows {
  transition: 0.3s;
}

.grows:hover {
  transition: 0.3s;
  scale: 1.05;
}

.grows-big {
  transition: 0.3s;
}

.grows-big:hover {
  transition: 0.3s;
  scale: 1.15;
}

.pointer-auto {
  cursor: auto !important;
}
